$color-bright-blue: #3a7bfd;
$check-gradient: linear-gradient(to right bottom, #57ddff, #c058f3);

$color-light-grey-1: #fafafa;
$color-light-grey-2: #e4e5f1;
$color-light-grey-3: #d2d3db;
$color-dark-grey-1: #9394a5;
$color-dark-grey-2: #484b6a;

$color-dark-blue-1: #161722;
$color-dark-blue-2: #25273c;
$color-light-grey-4: #cacde8;
$color-dark-grey-3: #777a92;
$color-dark-grey-4: #4d5066;
$color-dark-grey-5: #393a4c;

$padding-side: 6.4vw;

$box-shadow: 0 3.5rem 5rem -1.5rem rgba(#000, 0.5);
$box-shadow-light: 0 3.5rem 5rem -1.5rem rgba(#c2c3d6, 0.5);
