.container {
  max-width: 54rem;
  margin: auto;
  position: relative;
  z-index: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1.5rem;

    @include respond(mobile) {
      font-size: 2.8rem;
      line-height: 2.8rem;
      font-weight: 500;
      letter-spacing: 1.2rem;
    }
  }

  &__icon {
    height: 2.6rem;
    cursor: pointer;

    @include respond(mobile) {
      height: 2rem;
    }
  }

  &__footer {
    color: #5b5e7e;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.19px;
  }
}
