.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7rem $padding-side;
  height: 30rem;
  width: 100%;

  @include respond(mobile) {
    height: 20rem;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.7s;

    &--dark {
      opacity: 1;
      background-image: url(../images/bg-desktop-dark.jpg);

      @include respond(mobile) {
        background-image: url(../images/bg-mobile-dark.jpg);
      }
    }

    &--light {
      opacity: 0;
      background-image: url(../images/bg-desktop-light.jpg);

      @include respond(mobile) {
        background-image: url(../images/bg-mobile-light.jpg);
      }
    }
  }

  &.light &__bg {
    &--dark {
      opacity: 0;
    }

    &--light {
      opacity: 1;
    }
  }
}
